@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/din/DINPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/open_sans/OpenSans-Regular-webfont.woff);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "DIN Pro" "Courier New", Courier, monospace;
}
/* general styling  */

.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.model {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}
.magnetaBG {
  background: #e50097;
}
.secondaryBG {
  background-color: #00a0df;
}

/* text classes*/
.secondaryColor {
  color: #00a0df;
}
.T1 {
  font-size: 45px;
  line-height: 55px;
}

.T2 {
  font-size: 22px;
  line-height: 32px;
}
.T3 {
  font-size: 16px;
  line-height: 30px;
}
.T4 {
  font-size: 14px;
}
.T5 {
  font-size: 12px;
  line-height: 25px;
}
.bolder {
  font-weight: 700;
}
.lighter {
  font-weight: 400;
}
.primaryFont {
  font-family: "DIN Pro";
}
.secondaryFont {
  font-family: "Open Sans";
}
.white {
  color: white;
}

header {
  padding: 0.8em 0;
  background: white;
}

/* landing styling*/
#landingSection {
  background-color: #00044c;
  color: #ffffff;
  padding: 5em 0;
  background-image: url("./images/image_header_brand_pattern.svg");
  background-repeat: no-repeat;
  background-position-x: 130%;
  background-size: contain;
  background-position-y: 85%;
}

#landingSection div {
  align-items: center;
  justify-content: space-between;
}
#landingSection article {
  max-width: 500px;
  justify-content: center;
}

#landingSection img {
  margin-right: 3.5em;
}
#landingSection h3,
#landingSection h1,
#landingSection p {
  padding: 0.3em 0;
}
#landingSection h1 p {
  padding: 0;
}

#landingSection button {
  background-color: #00a0df;
  padding: 1.2em 3.5em;
  border: none;
  color: white;
  max-width: 190px;
  margin-top: 2em;
  justify-self: flex-end;
  cursor: pointer;
  transition: all 0.1s;
  border: 2px solid #00a0df;
}
#landingSection button:hover {
  transition: all 0.1s;
  color: black;
  border: 2px solid #00a0df;
  background-color: white;
}

/* MAIN CARD*/

#cardsSection {
  background: linear-gradient(180deg, white 71%, #e8f8ff 29%);
}
#brandPattern {
  background-image: url("./images/main-content-area-brand-patterns.svg");
  background-repeat: no-repeat;
  background-position-x: -88%;
  background-position-y: 50%;
}
#cardsFlex {
  gap: 6em;
}
#toolButton {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 0.05em 0;
  max-width: 160px;
  max-height: 30px;
  margin-bottom: 0.5em;
}

#mainCard {
  margin: 5em 0;
  display: grid;
  grid-template-columns: 4fr 6fr;
  box-shadow: 20px 10px 30px 20px rgb(0 0 0 / 10%);
  width: 100%;
  height: 100%;
}
#mainCardContent {
  padding: 2em;
  background-color: white;
}
#mainCard h4,
#mainCard p {
  margin: 0.4em 0;
}
#mainCard img {
  height: 100%;
  width: 100%;
}

#arrowLink {
  margin-top: 5em;
  align-items: center;
  justify-items: center;
  gap: 0.75em;
  height: 100%;
}
#arrowLink a {
  align-self: center;
  text-decoration: none;
}
#arrowLink button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 4em;
  border: none;
}
#arrowLink img {
  max-width: 8px;
  max-height: 12px;
}

@media (min-width: 1441px) {
  #landingSection {
    background-position-x: 105%;
    background-position-y: 85%;
  }

  #brandPattern {
    background-position-x: -33%;
    background-position-y: 60%;
  }
  #mainCard h4,
  .card h4 {
    font-size: 30px;
    line-height: 43px;
  }
  #mainCard p,
  .card p {
    font-size: 18px;
    line-height: 25px;
  }
  #toolButton p {
    font-size: 14px;
  }
  #arrowLink {
    font-size: 18px;
  }
  .card {
    height: 85%;
  }
}

/* Card Styling */
#cardGrid {
  margin-bottom: 4.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
}
.card {
  margin: 3em 0;
  background: white;
  padding: 2em 1.5em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  transition: all 0.1s;
}

.card:hover {
  transition: all 0.1s;
  transform: scale(1.02);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.cardSubTitle {
  color: #6d7883;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 0.3em;
}
.cardContent {
  margin: 2.5em 0 0 0;
}

.card #arrowLink {
  margin-top: 3.7em;
}

#card1 {
  border-top: #00d5d5 5px solid;
}
#card2 {
  border-top: #e50097 5px solid;
}
#card3 {
  border-top: #5e66f9 5px solid;
}

footer {
  background-color: #000000;
  padding: 0.8em 0;
}

@media (max-width: 1350px) {
  .model {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
  }

  #landingSection {
    padding: 5em 0;
    background-position-x: 300%;
    background-position-y: 94%;
  }
  #landingSection div {
    flex-direction: column;
  }
  #landingSection article {
    align-items: center;
    text-align: center;
  }
  #landingSection button {
    margin-bottom: 2em;
  }
  #landingSection img {
    margin: 0 6em;
  }
  #landingSection h3,
  #landingSection h1,
  #landingSection p {
    padding: 0.15em 0;
  }
  #mainCard {
    box-shadow: 20px 10px 30px 20px rgb(0 0 0 / 10%);
  }
  #mainCard #arrowLink {
    margin-bottom: 2em;
    margin-top: 3em;
  }

  #cardsSection {
    background: linear-gradient(180deg, white 40%, #e8f8ff 60%);
  }
  #brandPattern {
    background-position-x: 255%;
    background-position-y: 43%;
  }

  #cardGrid {
    grid-template-columns: 1fr 1fr;
  }
  #mainCard {
    margin-bottom: 5em;
  }
  .card {
    margin: 0;
    height: 100%;
  }
}

@media (max-width: 750px) {
  #landingSection {
    background-size: 130%;
    background-position: -68% 90%;
  }
  #landingSection img {
    max-width: 317px;
    margin: 0 auto;
    object-position: 25px;
  }
  #landingSection h1 {
    font-size: 35px;
    line-height: 40px;
  }
  #cardsFlex {
    gap: 0;
  }
  #mainCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 20px 10px 30px 20px rgb(0 0 0 / 10%);
    max-width: 324px;
    max-height: 520px;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 6em;
  }
  #mainCard img {
    grid-row: 0;
    max-width: 325px;
    max-height: 171px;
    width: 100%;
  }
  #cardsSection {
    background: linear-gradient(180deg, white 35%, #e8f8ff 65%);
  }
  #pattern {
    background: none;
  }
  #mainCardContent {
    grid-row: 99;
    padding: 1.5em;
  }
  #mainCard #arrowLink {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #arrowLink img {
    max-width: 14px;
    max-height: 14px;
  }

  #cardGrid {
    grid-template-columns: 1fr;
    max-width: 324px;
    margin: 0 auto;
    margin-bottom: 6em;
    margin-top: 1em;
    gap: 1.75em;
  }

  .card {
    padding-top: 2.5em;
    padding-bottom: 0em;
    max-height: 371px;
    justify-content: center;
    height: 100%;
  }
  .card #arrowLink {
    margin-top: 2.5em;
    margin-bottom: 2em;
  }
  .cardContent {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
